*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

html {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  text-decoration-skip: objects;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 14px;
  line-height: 140%;
  color: #333;
  font-family: "Roboto", sans-serif;
  padding: 0;
  background-color: #e5e5e5;
}

main {
  flex: 1;
}

p {
  margin: 0;
}

a,
button {
  outline: none;
  transition: 0.4s;
  cursor: pointer;
  font-family: "Roboto", sans-serif !important;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:hover {
  text-decoration: none !important;
}

figure,
picture {
  display: inline-block;
  margin: 0;
  line-height: 0;

  img {
    width: 100%;
  }
}

img {
  vertical-align: top;
  max-width: 100%;
  user-select: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

.site-container {
  max-width: 1100px;
  margin: auto;
  padding: 80px 25px;
}

.site-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 19.6px;
  color: #333;
  text-align: center;
  letter-spacing: 0.4px;
  padding: 8px 20px;
  background-color: #fff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    background-color: rgba(251, 193, 0, 0.3);
    border: 1px solid rgba(251, 193, 0, 0.3);
  }
}
.site-btn.active {
  padding: 8px 20px 8px 44px;
  background-image: url(../img/active.svg);
  background-repeat: no-repeat;
  background-position: 14px center;
  background-color: rgba(251, 193, 0, 0.3);
  border: 1px solid rgba(251, 193, 0, 0.3);
}

.site-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 32px;
}
.site-item {
  width: 49%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}
.mb-60 {
  margin-bottom: 60px;
}

.metrika-period {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 8px;
  .site-btn {
    margin-right: 12px;
  }

  input {
    text-align: center;
    cursor: pointer;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    border-radius: 8px;
    letter-spacing: 0.4px;
    padding: 8px 20px;
    outline: none;
    height: 37px;
    margin-bottom: 28px;
  }
}

.metrika-statistic {
  margin-bottom: 40px;
  .statistic {
    &-blocks {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 -10px 40px;
    }
    &-item {
      width: 100%;
      margin: 0 10px;
      background-color: #ffffff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
      border-radius: 12px;
      padding: 20px 20px 32px 26px;
    }
    &-top {
      display: flex;
      align-items: center;
      margin-bottom: 14px;

      img {
        margin-right: 16px;
      }
    }
    &-count {
      font-weight: 600;
      font-size: 34px;
      line-height: 120%;
      letter-spacing: 0.4px;
      padding-left: 40px;
    }
  }
}

.metrika-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .column {
    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      margin-bottom: 16px;
      padding: 0px 12px;
    }
    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 14px 12px;

      &:nth-child(2n + 1) {
        background-color: #f7f7f7;
        border-radius: 8px;
      }

      &__title {
        color: #336fee;
      }
      &__value {
        font-weight: 500;
      }
    }
  }
}

.metrika-pies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

// календар
.daterangepicker {
  max-width: 630px;
  width: 100%;
  .drp-buttons {
    padding: 12px;
    border-top: 1px solid #eeeeee;
    .btn {
      font-weight: 500;
      padding: 8px 16px;
      border-radius: 8px;
      outline: none;
      border: 0;
    }
    .btn-primary {
      background-color: #fbc100;
      border: 1px solid #fbc100;
    }
    .btn-default {
      background-color: #fff;
      border: 1px solid #eeeeee;
    }
  }
  .calendar-table {
    .month {
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: #000;
    }
    th,
    td {
      width: 40px;
      height: 40px;
      line-height: 20px;
      font-size: 14px;
      color: #333;
      border-radius: 50px;

      &:hover {
        color: #333;
        background-color: #ececec;
      }
    }
  }
  .drp-calendar {
    max-width: 314px;
    width: 100%;
    padding: 12px !important;
  }
  .drp-calendar.left {
    margin-right: auto;
  }
  .drp-calendar.right {
    margin-left: auto;
  }
  td.available {
    border-radius: 50px;
  }
  td.today {
    border: 2px solid #ececec;
    background-color: #fff;
    color: #333;
  }
  td.in-range {
    background-color: rgba(251, 193, 0, 0.2);
    border-radius: 0;
  }

  td.start-date {
    background-color: #fbc100;
  }
  td.end-date {
    background-color: #fbc100;
    border-radius: 50px;
  }
}

// стили для диаграммы
.site-line-chart {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 30px;
  .apexcharts-title-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
  .apexcharts-tooltip {
    width: 200px;
    padding: 14px 16px;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    &-title {
      color: #767676;
      margin-bottom: 10px;
      padding: 0;
      font-size: 14px;
      line-height: 20px;
    }
    &-series-group {
      padding: 0 !important;
      margin-bottom: 6px;
    }
    &-y-group {
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-marker {
      min-width: 6px;
      height: 6px;
      max-width: 6px;
      margin: 0;
    }
    &-text {
      width: 100%;
      font-size: 14px !important;
      line-height: 20px !important;
      margin-left: 8px;
    }
  }
  .apexcharts-xaxis {
    line {
      display: none;
    }
  }
  .apexcharts-xaxistooltip {
    display: none;
  }
  .apexcharts-text tspan {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #767676;
  }
  .apexcharts-legend {
    top: 35px !important;
    &-marker {
      margin-right: 5px;
    }
  }
  .apexcharts-legend-series {
    margin: 0 24px 0 0 !important;
    display: flex !important;
    align-items: center !important;
  }
}

.site-pie-chart {
  min-height: 454px !important;
  .apexcharts {
    &-datalabels {
      text {
        filter: none;
      }
    }
    &-legend {
      padding: 0;
      bottom: 15px !important;
      &-series {
        margin: 0 0 10px 0 !important;
        width: 100%;
      }
      &-marker {
        width: 10px !important;
        height: 10px !important;
        margin: 0 12px 0 0;
      }
      &-text {
        font-size: 14px !important;
        line-height: 20px !important;
      }
    }
    &-inner {
      //   position: static;
      height: 300px;
    }
    &-canvas {
      min-height: 454px !important;
    }
    &-svg {
      min-height: 454px !important;
    }
    &-pie {
      transform: translate(-38%, -2%);
      > g {
        transform: scale(1.85);
      }
    }
    &-text {
      font-size: 7.5px;
    }

    &-tooltip {
      &-series-group {
        background-color: #fff !important;
        color: #333 !important;
      }
      &-y-group {
        padding: 5px 0 0 0;
      }
    }
  }
  foreignObject {
    height: 454px;
    overflow: initial;
  }
}
@media (max-width: 992px) {
  .site-pie-chart {
    .apexcharts {
      &-pie {
        transform: translate(-45%, -2%);
      }
    }
  }
}
@media (max-width: 768px) {
  .site-container {
    padding: 40px 20px;
  }
  .metrika-statistic {
    .statistic {
      &-blocks {
        flex-wrap: wrap;
      }
      &-item {
        margin-bottom: 20px;
      }
    }
  }
  .site-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 20px;
  }
  .site-line-chart {
    padding: 20px 10px;
  }
}
@media (max-width: 480px) {
  .site-container {
    padding: 25px 10px;
  }
  .site-pie-chart {
    .apexcharts {
      &-pie {
        transform: translate(-97%, -2%);
        > g {
          transform: scale(3);
        }
      }
      &-text {
        font-size: 5px;
      }
      &-legend {
        overflow: hidden;
      }
    }
  }
}
